<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd">


<import resource="auditoriums.xml"/>

    <bean id="event1" name="event1" class="ua.epam.spring.hometask.yeremenko.domain.Event">
        <property name="name" value="Event1"/>
        <property name="basePrice" value="#{T(java.lang.Double).parseDouble('30')}"/>
        <property name="rating">
            <value type="ua.epam.spring.hometask.yeremenko.domain.EventRating">LOW</value>
        </property>
        <property name="airDates" >
        <util:set set-class="java.util.TreeSet">
            <value type="java.time.LocalDateTime">2000-01-01</value>
            <value type="java.time.LocalDateTime">2000-01-02</value>
            <value type="java.time.LocalDateTime">2000-01-05</value>
        </util:set>
        </property>
        <property name="auditoriums" >
             <util:map map-class="java.util.TreeMap">
                 <entry value-ref="blueAuditorium">
                     <key>
                         <value type="java.time.LocalDateTime">2000-01-01</value>
                     </key>
                 </entry>
                 <entry value-ref="blueAuditorium">
                     <key>
                         <value type="java.time.LocalDateTime">2000-01-02</value>
                     </key>
                 </entry>
                 <entry value-ref="redAuditorium">
                     <key>
                         <value type="java.time.LocalDateTime">2000-01-05</value>
                     </key>
                 </entry>
            </util:map>
        </property>

    </bean>

    <bean id="event2" name="event2" class="ua.epam.spring.hometask.yeremenko.domain.Event">
        <property name="name" value="Event2"/>
        <property name="basePrice" value="#{T(java.lang.Double).parseDouble('60')}"/>
        <property name="rating">
            <value type="ua.epam.spring.hometask.yeremenko.domain.EventRating">MID</value>
        </property>
        <property name="airDates" >
            <util:set set-class="java.util.TreeSet">
                <value type="java.time.LocalDateTime">2000-01-01</value>
                <value type="java.time.LocalDateTime">2000-01-04</value>
                <value type="java.time.LocalDateTime">2000-01-05</value>
            </util:set>
        </property>
        <property name="auditoriums" >
            <util:map map-class="java.util.TreeMap">
                <entry value-ref="redAuditorium">
                    <key>
                        <value type="java.time.LocalDateTime">2000-01-05</value>
                    </key>
                </entry>
                <entry value-ref="redAuditorium">
                    <key>
                        <value type="java.time.LocalDateTime">2000-01-01</value>
                    </key>
                </entry>
                <entry value-ref="blueAuditorium">
                    <key>
                        <value type="java.time.LocalDateTime">2000-01-04</value>
                    </key>
                </entry>
            </util:map>
        </property>
    </bean>

    <bean id="event3" name="event3" class="ua.epam.spring.hometask.yeremenko.domain.Event">
        <property name="name" value="Event3"/>
        <property name="basePrice" value="#{T(java.lang.Double).parseDouble('120')}"/>
        <property name="rating">
            <value type="ua.epam.spring.hometask.yeremenko.domain.EventRating">HIGH</value>
        </property>
        <property name="airDates" >
            <util:set set-class="java.util.TreeSet">
                <value type="java.time.LocalDateTime">2000-01-01</value>
                <value type="java.time.LocalDateTime">2000-01-03</value>
                <value type="java.time.LocalDateTime">2000-01-04</value>
            </util:set>
        </property>
        <property name="auditoriums" >
            <util:map map-class="java.util.TreeMap">
                <entry value-ref="blueAuditorium">
                    <key>
                        <value type="java.time.LocalDateTime">2000-01-01</value>
                    </key>
                </entry>
                <entry value-ref="blueAuditorium">
                    <key>
                        <value type="java.time.LocalDateTime">2000-01-03</value>
                    </key>
                </entry>
                <entry value-ref="blueAuditorium">
                    <key>
                        <value type="java.time.LocalDateTime">2000-01-04</value>
                    </key>
                </entry>
            </util:map>
        </property>

    </bean>

    <util:list id="eventsList" list-class="java.util.ArrayList" value-type="ua.epam.spring.hometask.yeremenko.domain.Event">
        <ref bean="event1"/>
        <ref bean="event2"/>
        <ref bean="event3"/>
    </util:list>

    <bean id="eventDAO" class="ua.epam.spring.hometask.yeremenko.dao.EventDAO" >
        <property name="events"  ref="eventsList"/>
    </bean>

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
     <property name="customEditors">
         <map>
            <entry key="java.time.LocalDateTime" value="ua.epam.spring.hometask.yeremenko.utils.CustomLocalDateTimeEditor" />
        </map>
        </property>
    </bean>
</beans>